
:root {
  --mainColor: #2ea44f;
}

/* The sidebar menu */
html {
  height: 100%;
}

body {
  height: 100%;
}

#topic_head {
  color: white;
  margin-top: 16px;
  margin-left: 12px;
}

@media screen and (max-width: 767px) {
  #topic_head {
    color: white;
    font-size: 18px;
    /*margin-top: 3.5vw;*/
    /*position: fixed;*/
    /*margin-left: 33%;*/
    margin-top: 18px;
    margin-left: 40px;
  }
}

.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Stay on top */
  bottom: 0;
  left: 0;
  background-color: #393e46;
  overflow-x: hidden;
  /* Disable horizontal scroll */

  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  margin-top: 10px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: -8px;
  right: 10px;
  font-size: 30px;
  /*margin-left: 50px;*/
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 22px;
  cursor: pointer;
  /*background-color: #d6d4c7;*/
  background-color: transparent;
  color: #393e46;
  padding: 11px 18px;
  border: none;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
}

.openbtn:hover {
  background-color: gray;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.search-but {

  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 0px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;

}

.search-bar {
  width: 20%;
  margin-right: 15rem;
  margin-top: 7px;
  padding-top: 10px;
  float: right;
  position: fixed;
  border: none;
  border-radius: 5px;
  background-color: white;
  /*border: 2px solid #393e46; */
}
.mobile_backbtn2{
  display:none;
  font-size: 20px;
  cursor: pointer;
  background-color: #d6d4c7;
  background-color:transparent;
  color: #393e46;
/*  padding: 1px 4px;*/
  border: none;
  color:white;
  position: fixed;
  margin-left: 47px;
  margin-top: 10px;
}

body {

  background: #eee;
}

.ql-toolbar.ql-snow {

  display: none;
}


.contacts li>.info-combo>h3.name {
  font-size: 14px;
  width: 18vw;
}

.contacts li .message-time {
  text-align: right;
  display: block;
  margin-left: -15px;
  width: 70px;
  height: 25px;
  line-height: 28px;
  font-size: 14px;
  font-weight: 600;
  padding-right: 5px;
}

.contacts li>.info-combo>h5 {
  width: 200px;
  font-size: 14px;
  height: 30px;
  font-weight: 500;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.contacts li>.info-combo>h3 {
  width: 100%;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info-combo>h3 {
  /*margin: 3px 0;*/
}

.no-margin-bottom {
  margin-bottom: 0 !important;
  margin-top:14px;
}

#holder6 .no-margin-bottom {
  margin-bottom: 0 !important;
  margin-top:2px !important;
}

.info-combo>h5 {
  margin: 2px 0 6px 0;
}

/* Messages */
/*.messages-panel img.img-circle {
  border: 1px solid rgba(0, 0, 0, 0.1);
}*/

.medium-image {
  width: 57px;
  height: 46px;
  margin-right: 5px;
}

.user-logo-rect {
  border-radius: 2%;
  margin-top: -62px;
  /* margin: -35px 2px; */
  margin-left: -15px;
  margin-right: 10px;
  margin-bottom: 0px;
  position: absolute;
  top: 62px;
  background-color: var(--mainColor) !important;
}

.user-logo-rect:hover {
  transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 1000;
  margin-left: 43px;
}

.img-circle {
  /*border-radius: 50%;
  margin-top: -62px;*/
  /* margin: -35px 2px; */
  /*margin-left: -15px;*/
  /*margin-right: 10px;*/
  /*margin-bottom: -20px;
  position: absolute;
  top: 62px;*/
}

.messages-panel {
  width: 100%;
   height: 100%; 
  /* min-height: 460px; */
  background-color: #fbfcff;
  display: inline-block;
  border-top-left-radius: 5px;
  /* margin-bottom: -5px; */
  border: none;
}

/*.messages-panel img.img-circle {
  border: 1px solid var(--mainColor);
}
*/
.messages-panel .tab-content {
  border: none;
  background-color: transparent;
  height: 100%;
}

.contacts-list {
  position: fixed;
  background-color: #fff;
  border-right: 1px solid #cfdbe2;
  /*width: 325px;*/
  width: 30%;
  height: 100%;
  border-top-left-radius: 5px;
  float: left;
  /* overflow-y: overlay; */
  height:100%
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 4px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 5px;
  background: rgba(32, 104, 82, 0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(36, 117, 47, 0.4); 
}

/* .chat-footer .attach{
    width: 70px;
    height: 70px;
    color: #777;
    background: #FFF;
    float: left;
}

.chat-footer .replyMessage{
  width: calc(100% - 220px);
  float: left;
  height: 70px;
  padding: 0px 8px;
  font-size: 16px;
}

.chat-footer .otherTools .toolButtons {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background: #FFF;
  color: #888;
  border-radius: 100%;
} */

/* THE REPLY BAR CSS */
.chat_section{
  width:100%;
  position: fixed !important;
  bottom: 0 !important;
  height: auto;
/*  margin:5px;
*/
}

@media screen and (max-width: 767px){
  .chat_section{
    width:100% !important;
    position: fixed;
    bottom: 0;
    /*margin:5px;*/
  } 
}

.replyBar {
	width: 100%;
  height: 70px;
  /* bottom: 0; */
	float: left;
  background: #fff;
  /* position:fixed; */
}

@media screen and (max-width: 767px){
  .replyBar {
    width: 100%;
    height: 50px;
    /* bottom: 0; */
    float: left;
    background: #fff;
    /* position:fixed; */
  }
}



.replyBar .replyBtn {
	width: 70px;
	height: 70px;
  color: #777;
	background: #FFF;
	float: left;
  resize: both;
}

@media screen and (max-width: 767px){
  .replyBar .replyBtn {
    width: 50px;
    height: 50px;
    color: #777;
    background: #FFF;
    float: left;
  }
}

.replyBar .replyBtn:hover {
  color: #555;
	background: #DDD;
}

.replyBar .d45 {
	transform: rotate(45deg);
	font-size: 32px;
}

/*.replyBar .replyMessage {
	width: calc(100% - 150px);
	float: left;
	height: 70px;
	padding: 0px 8px;
	font-size: 16px;
}*/

.replyMessage{
  margin-left: 30px;
  width:89%;
}

.replyBtn{
  margin-left: -20px;

}


.replyBar textarea{
    /*width: 200px;*/
    height:auto;
    line-height:15px;
/*    min-width: 200px;
    max-width: 300px;*/
    transition: width 0.25s;
    resize:none;
    overflow:hidden;
}

@media screen and (max-width: 767px){
.replyBar .replyMessage {
    width: 70%;
    float: left;
    height: 50px;
    padding: 0px 4px;
    font-size: 14px;
  }
}

.replyBar .otherTools {
	float: right;
	width: 70px;
	height: 70px;
}

@media screen and (max-width: 767px){
  .replyBar .otherTools {
    float: right;
    width: 50px;
    height: 50px;
  }
}

.toolButtons{
/*  width: 60px;
	height: 60px;*/
	margin-top: 5px;
	background: #FFF;
	color: #888;
/*	border-radius: 100%;*/
}

@media screen and (max-width: 767px){
  .toolButtons{
    width: 55px;
    /*height: 50px;*/
    margin-top: 0px;
    margin-left: -12px;
    background: #FFF;
    color: #888;
    border-radius: 100%;
  }
}

.toolButtons:hover {
	color: #555;
	background: #DDD;
}
.reply_function{
  cursor:pointer;
  color: #4c4c4d !important;
  padding-right: 5px;
  margin-top: 2px;
  margin-right: 10px;
}
.reply_function:hover{
  color:grey;
}

.display_replies{
  margin: 0 5px%;
  align-content: center;
  background-color: #f7f7f7;
  /*margin-bottom: -10px;*/
  position: fixed;
  bottom: 70px;
  width: 70%;
  opacity: 0.01;
  max-height: 290px;
  min-height: 60px;
}


/*---New editor---*/
/*Don't forget to add Font Awesome CSS : "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"*/
input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 4px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
  background-color: #fff;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
/*  top: 8px;*/
  top:0px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  /*padding: 9px 4px;*/
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}








.cancel-reply{
  margin-left: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.contacts-list .inbox-categories {
  width: 100%;
  padding: 0;
  margin-left: 0;
}

.contacts-list .inbox-categories>div {
  float: left;
  width: 76px;
  padding: 15px 5px;
  font-size: 14px;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  font-weight: 700;
}

.contacts-list .inbox-categories>div:nth-child(1) {
  color: #2da9e9;
  border-right-color: rgba(45, 129, 233, 0.06);
  border-bottom: 4px solid var(--mainColor);
  border-top-left-radius: 5px;
}

.contacts-list .inbox-categories>div:nth-child(1).active {
  float: right;
  color: #fff;
  background-color: var(--mainColor);
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}

.contacts-list .inbox-categories>div:nth-child(2) {
  color: var(--mainColor);
  border-right-color: rgba(14, 200, 162, 0.06);
  border-bottom: 4px solid var(--mainColor);
}

.contacts-list .inbox-categories>div:nth-child(2).active {
  color: #fff;
  background-color: var(--mainColor);
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}

.contacts-list .inbox-categories>div:nth-child(3) {
  color: #ff9e2a;
  border-right-color: rgba(255, 152, 14, 0.06);
  border-bottom: 4px solid #ff9e2a;
}

.contacts-list .inbox-categories>div:nth-child(3).active {
  color: #fff;
  background-color: #ff9e2a;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}

.contacts-list .inbox-categories>div:nth-child(4) {
  color: #314557;
  border-bottom: 4px solid #314557;
  border-right-color: transparent;
}

.contacts-list .inbox-categories>div:nth-child(4).active {
  color: #fff;
  background-color: #314557;
  border-bottom: 4px solid rgba(0, 0, 0, 0.35);
}

.contacts-list .panel-search>input {
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
}

.panel-search-form{
  margin:8px;
}
.contacts-outter-wrapper {
  position: relative;
  /* width: 305px;
  direction: rtl;
  min-height: 405px; */
  overflow: hidden;
  padding: 2px;
}
.im_dialogs_search {
  position: relative;
}

 .input-icons i { 
            position: absolute; 
        } 
 .input-icons { 
      width: 100%; 
      margin-bottom: 10px; 
  } 
  .icon { 
      padding: 10px; 
      color: green; 
      min-width: 50px; 
      text-align: center; 
  } 

  .input-field { 
    width: 100%; 
    padding-left: 40px; 
  } 

/*.contacts-outter-wrapper:after,
.contacts-outter-wrapper:nth-child(1):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  background-color: rgb(76, 175, 80);
  border-bottom-left-radius: 4px;
}

.contacts-outter-wrapper:nth-child(2):after {
  background-color: rgb(76, 175, 80);
}

.contacts-outter-wrapper:nth-child(3):after {
  background-color: #ff9e2a;
}

.contacts-outter-wrapper:nth-child(4):after {
  background-color: #314557;
}
*/
.contacts-outter {
  position: relative;
  /*height: calc(105vh - 135px);*/
  height: 90vh;
  /* width: 325px; */
  direction: ltr;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color:rgb(62, 119, 62) rgb(239, 240, 239);
  /* padding-left: 20px; */
}
.project-list{
  padding-right: 9px;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
  @media {
    .contacts-outter-wrapper {
      direction: ltr;
    }

    .contacts-outter {
      direction: ltr;
      padding-left: 0;
    }
  }
}

.contacts {
  direction: ltr;
  /*width: 305px;*/
  margin-top: 0px;
}

.contacts li {
  width: 100%;
  /*border-top: 1px solid transparent;*/
  /*border-bottom: 1px solid rgba(205, 211, 237, 0.2);*/
  border-left: 4px solid rgba(255, 255, 255, 0);
  /*padding: 8px 12px;*/
  /*padding: 0px 10px;*/
  padding-right: 5px;
  padding-left: 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 50px;
}

.contacts li:first-child {
  border-top: 1px solid rgba(205, 211, 237, 0.2);
}

.contacts li:first-child.active {
  /*border-top: 1px solid rgba(205, 211, 237, 0.75);*/
}

.contacts li:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.contacts li.active,
.contacts.info li.active {
  /*border-right: 5px solid rgb(76, 175, 80);*/
  /*border-top-color: rgba(205, 211, 237, 0.75);*/
  border-bottom-color: rgba(205, 211, 237, 0.75);
  /*background-color: #66666626;*/
  background-color: #dbdedfc4;
}

@media screen and (max-width: 767px){
  .contacts li.active,
  .contacts.info li.active {
    background: none;
    border-bottom-color: rgba(205, 211, 237, 0.75);
  }
}


.contacts.success li.active {
  border-left: 4px solid var(--mainColor);
}

.contacts.warning li.active {
  border-left: 4px solid #ff9e2a;
}

.contacts.danger li.active {
  border-left: 4px solid #f95858;
}

.contacts.dark li.active {
  border-left: 4px solid #314557;
}

.contacts li>.info-combo {
  width: 172px;
  cursor: pointer;
  margin-left: 47px;
}

.contacts li>.info-combo>h3 {
  width: 210px;
  /*width: calc(100vw - 70vw);*/
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 2px;
}

.contacts #holder6 li>.info-combo>h3 {
  width: 210px;
  /*width: calc(100vw - 70vw);*/
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative !important;
}

.contacts li .contacts-add {
  width: 50px;
  float: right;
  z-index: 23299;
}

.contacts li .message-time {
  text-align: right;
  display: block;
  margin-left: 26px;
  width: 30px;
  height: 15px;
  color:#484747;
  line-height: 11px;
  font-size: 11px;
  font-weight: 200;
  padding-right: 5px;
  margin-top: 6px;
}

.contacts li .contacts-add .fa-trash-o {
  position: absolute;
  font-size: 14px;
  right: 28px;
  bottom: 4px;
  color: #a6a6a6;
  cursor: pointer;
}

.contacts li .contacts-add .fa-share-alt {
  position: absolute;
  font-size: 14px;
  right: 15px;
  bottom: 4px;
  color: #a6a6a6;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .contacts li .contacts-add .fa-trash-o {
    position: absolute;
    font-size: 12px;
    right: 32px;
    bottom: 6px;
    color: #a6a6a6;
    cursor: pointer;
  }

  .contacts li .contacts-add .fa-share-alt {
    position: absolute;
    font-size: 12px;
    right: 18px;
    bottom: 6px;
    color: #a6a6a6;
    cursor: pointer;
  }

}

@media only screen and (max-width: 800px){

  .contacts #holder6 li>.info-combo>h5 {
    width: 78vw !important;
    font-size: 13px;
    height: auto;
    font-weight: 500;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}

.contacts li .contacts-add .fa-trash-o:hover {
  color: #f95858;
}

.contacts li .contacts-add .fa-share-alt:hover {
  color: #ff9e2a;

}

.contacts li>.info-combo>h5 {
  width: 212px;
  font-size: 13px;
  height: 16px;
  font-weight: 500;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}


@-moz-document url-prefix() {
  /* Mozilla specific CSS here*/


}


.contacts #holder6 li>.info-combo>h5 {
  width: 18vw;  
  font-size: 13px;
  height: auto;
  font-weight: 500;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  /*display: flex;*/
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  position: relative;
}



.contacts li .message-count {
  position: absolute;
/*  top: 8px;
  left: 5px;*/
  top:28px;
  right:0px;
  width: 20px;
  height: 20px;
  line-height: 22px;
  text-align: center;
  background-color: var(--mainColor);
  border-radius: 50%;
  color: #FFF;
  font-weight: 600;
  font-size: 10px;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-left: 40px;
}


.total-message-count{
/*    position: absolute;*/
/*  top: 8px;
  left: 5px;*/
  top:38px;
  right:0px;
  width: 20px;
  height: 14px;
  line-height: 0px;
  text-align: center;
/*  background-color: var(--mainColor);
  border-radius: 30%;*/
  color: #78797b;
  font-weight: 400;
  font-size: 11px;
/*  align-items: center;
  align-content: center;
  text-align: center;*/
  margin-left: 5px;
}

@media screen and (max-width: 767px){
 .contacts li .message-count {
  top:27px;
  right:1px;
  width: 23px;
  height: 23px;
  line-height: 22px;
  text-align: center;
  background-color: var(--mainColor);
  border-radius: 50%;
  color: #FFF;
  font-weight: 600;
  font-size: 12px;
  align-items: center;
  align-content: center;
  text-align: center;
  }
}


.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.message-body {
  /* background-color: #fbfcff; */
  height: 100%;
  /*width: calc(100% - 325px);*/
  width: 70%;
  float: right;
  
}

.message-body .message-top {
  display: inline-block;
  width: 75%;
  position:fixed;
  top: 0;
  /* overflow:hidden; */
  z-index: 1;
  min-height: 55px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .message-body .message-top {
    display: inline-block;
    width: 100%;
    position:fixed;
    top: 0;
    /* overflow:hidden; */
    z-index: 1;
    min-height: 55px;
    height: auto;
  } 
}

.message-body {
  background-color: #c5ecd0;
  border-bottom: 1px solid rgba(205, 211, 237, 0.5);
}

.message-top {
  background-color: var(--mainColor);
/*  border-bottom: 1px solid black;*/

}

.message-body .message-top .new-message-wrapper {
  width: 100%;
}

.message-body .message-top .new-message-wrapper>.form-group {
  width: 100%;
  padding: 10px 10px 0 10px;
  height: 50px;
}

.message-body .message-top .new-message-wrapper .form-group .form-control {
  width: calc(100% - 50px);
  float: left;
}

.message-body .message-top .new-message-wrapper .form-group a {
  width: 40px;
  padding: 6px 6px 6px 6px;
  text-align: center;
  display: block;
  float: right;
  margin: 0;
}

.message-body .message-top>.btn {
  height: 53px;
  line-height: 53px;
  padding: 0 20px;
  float: right;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  font-size: 15px;
  opacity: 0.9;
}

.message-body .message-top>.btn:hover,
.message-body .message-top>.btn:focus,
.message-body .message-top>.btn.active {
  opacity: 1;
}

.message-body .message-top>.btn>i {
  margin-right: 5px;
  font-size: 18px;
}

.new-message-wrapper {
  position: absolute;
  max-height: 400px;
  top: 53px;
  background-color: #fff;
  z-index: 105;
  padding: 20px 15px 30px 15px;
  border-bottom: 1px solid #cfdbe2;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  display: none;
}

.new-message-wrapper.closed {
  opacity: 0;
  max-height: 0;
}

.chat-footer.new-message-textarea {
  display: block;
  position: relative;
  padding: 0 10px;
}

.chat-footer.edit {
  display: block;
  position: relative;
  padding: 0 10px;
}

.chat-footer.new-message-textarea .send-message-button {
  right: 35px;
}

.chat-footer.new-message-textarea .upload-file {
  right: 85px;
}

.chat-footer.new-message-textarea .send-message-text {

  height: 50px;
}

.message-chat {
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
   /*margin-bottom: 80px;*/
  padding-bottom:14%;
  background-color:#c5ecd0;
}


@media screen and (max-width: 767px) {
  .message-chat {
    width: 100%;
    overflow: hidden;
    /*margin-top: 80px;*/
    /* margin-bottom: 50px; */
  }
}


.chat-body {
  width: calc(75%);
  /* min-height: 290px; */
  /* height: 83vh; */
  background-color: #c5ecd0;
  margin-bottom: 10px;
  padding: 10px 5px 5px 5px;
  /* overflow-y: scroll; */
  margin-top:10px;
}

.message {
  position: relative;
  width: 100%;
}

.message br {
  clear: both;
}

.message .message-body {
  position: relative;
  width: calc(100% - 6px);
  /*max-width: calc(100% - 150px);*/
  float: left;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid var(--mainColor);
  /*margin: 0 5px 20px 15px;*/
  margin-left: 4px;
  margin-right: 4px
  color: rgb(46, 43, 43);
  margin-bottom: 6px;
  overflow: hidden;
}

/*.message:after {
  content: "";
  position: absolute;
  top: 11px;
  left: 63px;
  float: left;
  z-index: 100;
  border-top: 10px solid transparent;
  border-left: none;
  border-bottom: 10px solid transparent;
  border-right: 13px solid #fff;
}

.message:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 62px;
  float: left;
  z-index: 99;
  border-top: 11px solid transparent;
  border-left: none;
  border-bottom: 11px solid transparent;
  border-right: 13px solid #dbe3e8;
}*/

.message .medium-image {
  float: left;
  margin-left: 10px;
}

.message .message-info {
  width: 100%;
  height: 22px;
  color:#6b6d6e;
  padding: 2px 6px;
}

.message .message-info>h5>i {
  font-size: 11px;
  font-weight: 700;
  margin: 0 2px 0 0;
  color: #6d6f70;
}

.message .message-info>h5 {
  color: #656869;
  margin: 8px 0 0 0;
  font-size: 12px;
  float: right;
  padding-right: 10px;
}

.message .message-info>h4 {
  font-size: 14px;
  font-weight: 600;
  margin: 7px 13px 0 10px;
  color: var(--mainColor);
  float: left;
}

.message hr {
  margin: 4px 2%;
  width: 96%;
  opacity: 0.75;
}

.message .message-text {
  text-align: justify;
  padding: 0px 10px;
  font-size: 14px;
  word-break: break-word;
  word-wrap: break-word;
    /*line-height: 150%;*/
    /*white-space: pre-wrap;*/
}

.message.my-message .message-body {
  /*float: right;*/
  /*margin: 0 15px 20px 5px;*/
  background: #eeede8eb;
  margin-bottom: 6px;
}

/*.message.my-message:after {
  content: "";
  position: absolute;
  top: 11px;
  left: auto;
  right: 63px;
  float: left;
  z-index: 100;
  border-top: 10px solid transparent;
  border-left: 13px solid #fff;
  border-bottom: 10px solid transparent;
  border-right: none;
}

.message.my-message:before {
  content: "";
  position: absolute;
  top: 10px;
  left: auto;
  right: 62px;
  float: left;
  z-index: 99;
  border-top: 11px solid transparent;
  border-left: 13px solid #dbe3e8;
  border-bottom: 11px solid transparent;
  border-right: none;
}*/

.message.my-message .medium-image {
  float: right;
  margin-left: 5px;
  margin-right: 10px;
}

.message.my-message .message-info>h5 {
  float: left;
  padding-left: 10px;
  padding-right: 0;
}

.message.my-message .message-info>h4 {
  float: right;
}

.message.info .message-body {
  /* background-color: #F5F5F5; */
  border: 1px solid var(--mainColor);
  font-weight: 400;
  color: rgb(46, 43, 43);
  font-family: 'Open Sans', 'Roboto', 'Ubuntu', sans-serif;
  font-size: 14px;
  background-color: #fff;
  margin-bottom: 6px;
}

.message.info:after,
.message.info:before {
  border-right: 13px solid var(--mainColor);
}

.message.success .message-body {
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
  color: #fff;
}

.message.success:after,
.message.success:before {
  border-right: 13px solid var(--mainColor);
}

.message.warning .message-body {
  background-color: #ff9e2a;
  border: 1px solid #ff9e2a;
  color: #fff;
}

.message.warning:after,
.message.warning:before {
  border-right: 13px solid #ff9e2a;
}

.message.danger .message-body {
  background-color: #f95858;
  border: 1px solid #f95858;
  color: #fff;
}

.message.danger:after,
.message.danger:before {
  border-right: 13px solid #f95858;
}

.message.dark .message-body {
  background-color: #314557;
  border: 1px solid #314557;
  color: #fff;
}

.message.dark:after,
.message.dark:before {
  border-right: 13px solid #314557;
}

.message.info .message-info>h4,
.message.success .message-info>h4,
.message.warning .message-info>h4,
.message.danger .message-info>h4,
.message.dark .message-info>h4 {
  color: #fff;
}

.message.info .message-info>h5,
.message.info .message-info>h5>i,
.message.success .message-info>h5,
.message.success .message-info>h5>i,
.message.warning .message-info>h5,
.message.warning .message-info>h5>i,
.message.danger .message-info>h5,
.message.danger .message-info>h5>i,
.message.dark .message-info>h5,
.message.dark .message-info>h5>i {
  color: #fff;
  opacity: 0.9;
}

.chat-footer {

  position: fixed;
  margin-left: 50px;
  margin-right: 20px;
  width: 70%;
  height: 7vh;
  padding: 0px;
  bottom: 10px;
  background-color: white;
  border: 1px solid black;
  z-index: 100;
}

.chat-footer .send-message-text {
  position: relative;
  margin-top: 1px;
  display: block;
  width: 100%;
  min-height: 55px;
  max-height: 75px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 95px 5px 10px;
  font-size: 13px;
  resize: vertical;
  outline: none;
  border: 1px solid #e0e6eb;
}

.chat-footer .send-message-button {
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  right: 0px;
  top: 0;
  bottom: 50px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.05);
  outline: none;
  font-weight: 600;
  border-radius: 50%;
  padding: 0;
}

.chat-footer .send-message-button>i {
  font-size: 16px;
  margin: 0 0 0 -2px;
}

.chat-footer label.upload-file input[type="file"] {
  position: fixed;
  top: -1000px;
}

.chat-footer .upload-file {
  display: block;
  position: absolute;
  right: 150px;
  height: 30px;
  font-size: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.25;
}

.chat-footer .upload-file:hover {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .messages-panel {
    min-width: 0;
    display: inline-block;
  }

  .contacts-list,
  .contacts-list .inbox-categories>div:nth-child(4) {
    border-top-right-radius: 5px;
    border-right: none;
  }

  .contacts-list,
  .contacts-outter-wrapper,
  .contacts-outter,
  .contacts {
    width: 100%;
    direction: ltr;
    padding-left: 0;
    background-color: #fff;
  }

  .contacts-list .inbox-categories>div {
    width: 25%;
  }

  .message-body {
    width: 100%;
    margin: auto;
    border: 1px solid #dce2e9;
    background-color: #fff;
  }

  .message .message-body {
    /*max-width: calc(100% - 85px);*/
    width: calc(100% - 4px);
  }

  .message-body .chat-body {
    background-color: #fff;
    width: 100%;
  }

  .chat-footer {
    margin-bottom: 20px;
    padding: 0 20px;
    height: 7vh;
  }

  .chat-footer .send-message-button {
    right: 0px;
    bottom: 0px;
  }

  .chat-footer .upload-file {
    right: 90px;
  }

  .message-body .message-top>.btn {
    border-radius: 0;
    width: 100%;
  }

/*  .contacts-add {
    display: none;
  }*/
}

/* Profile page */

.profile-main {
  background-color: #fff;
  border: 1px solid #dce2e9;
  border-radius: 3px;
  position: relative;
  margin-bottom: 20px;
}

.profile-main .profile-background {
  background-image: url('../images/samples/forest.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 260px;
}

.profile-main .profile-info {
  width: calc(100% - 380px);
  max-width: 1100px;
  margin: 0 auto;
  background-color: #fff;
  height: 70px;
  border-radius: 0 0 3px 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-main .profile-info>div {
  margin: 0 10px;
}

.profile-main .profile-info>div:last-child {
  padding-right: 25px;
}

.profile-main .profile-info>div h4 {
  font-size: 16px;
  margin-bottom: 0;
}

.profile-main .profile-info>div h5 {
  margin-top: 5px;
  font-weight: 500;
}

.profile-main .profile-button {
  padding: 8px 0;
  position: absolute;
  right: 25px;
  bottom: 16px;
  width: 150px;
}

.profile-main .profile-picture {
  width: 150px;
  height: 150px;
  border: 4px solid #fff;
  position: absolute;
  left: 25px;
  bottom: 14px;
}

@media screen and (max-width: 767px) {

  .profile-main .profile-info .profile-status,
  .profile-main .profile-info .profile-posts,
  .profile-main .profile-info .profile-date {
    display: none;
  }
}

.contacts li>.info-combo {
  display: inline-block;
}

@media screen and (max-width: 758px) {
  .search-bar {
    margin-top: 10px;
    float: right;

  }
}

@media (max-width: 1000px) {
  .search-bar {
    width: 21%;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .search-bar {
    width: 20%;
    margin-left: 0;
  }

}

@media (max-width: 545px) {
  .search-bar {
    width: 19%;
    margin-left: 0;
  }
}

@media (max-width: 450px) {
  .left {
    width: 100%;
  }

  .search-bar {
    width: 100%;
  }

  .right {
    display: none;
  }


}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.header {
  position: fixed;
  /*width: 30%;*/
  z-index: 1000;
}

._right {
  float: right;
}


@media (min-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
  }
}

div.edit {
  width: 100%;
  display: inline-block;
  flex: 1;
  padding: 10px;
  max-height: 50%;
  background: white;
  overflow-y: scroll;
  border-radius: 5px;
  outline: none;
  margin-bottom: 5px;
  font-size: 17px;
}

[contentEditable=true]:empty:not(:focus):before {
  /*content: attr(data-placeholder)*/
}



pre {
  white-space: pre-line;
  word-wrap: break-word;
  text-align: justify;
}

/*span {
  display: none;
}
*/
.closes {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.emoji {
  height: 1em;
  width: 1em;
}

li {
  display: block;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  /* overflow: auto; */
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(230, 236, 221);
  margin: auto;
  ;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .modal-content {
    width: 80%;
  }
}


input,
textarea[name="desc"] {
  width: 70%;

}

.btn {

  padding: 12px 18px;
}

.active_ {
  background-color: var(--mainColor);
  color: white;
}

#back_ {
  display: none;
  /*font-size: 0.9em;*/
  font-size: 34px;
  margin-top: 2px;
}

#on_but {
  margin-top: 10px;
}

.button-secondary {
  background: rgb(28, 184, 65);
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 7px 11px;
  font-weight: bold;


  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.head_ {
  font-size: 2em;
  margin: .67em 0;
  display: block;
  color: rgb(119, 119, 119);
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
  background-color: var(--mainColor);
  color: white;
}

.message-text li {
  display: list-item;
}

.active-tab {
  background-color: #348c4d;
}
.menu-btn {
  background-color: var(--mainColor);
  color: white;
  /*border-radius: 5px;*/
  width: 100%;
  font-weight: bold;
  padding: 1em 2em;
  font-size: 16px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
}

.dropdown-menu_ {
  /*margin-left: 50px;*/
  width: calc(100%);
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #017575;
  min-width: 100%;
  z-index: 1;
}

/*.menu_move{
  font-size: 18px;
}
*/
.links {
  color: rgb(255, 255, 255);
  padding: 6px 10px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: bold;
  /*border-bottom: 1px solid black;*/
}

.links:hover {
  background-color: #0d9533;
}

.dropdown-menu:hover .menu-btn {
  background-color: #294F71;
}

svg {
  height: 0px;
}

.meta {
  height: 0px;
}

.fa-heart-o {
   color: grey;
   font-size: 16px !important;
}
.fa-heart-o:hover {
   color: red !important;
}

.fa-heart {
   color: grey;
   font-size: 16px !important;
}
.fa-heart:hover {
   color: grey !important;
}

.im_diaglog_search{
  margin-bottom: -7px;
  margin-left: 2px;
}

#load_more_topics{
  margin-left: 30%;
}

@media screen and (max-width: 761px) {

.contacts li {
  padding-right:20px;
  padding-left: 14px;
  height: 50px;
}

}

.dropdown-content1{
/*  margin-left: 14px;
  margin-right: 14px;*/
  margin-left: 5px;
  width:30px;
}
.dropdown-content2{
/*  margin-left: 10px;
  margin-right: 8px;*/
  margin-left: 5px;
  width:30px;
}
.dropdown-content3{
/*  margin-left: 12px;
  margin-right: 14px;*/
    margin-left: 5px;
    width:30px
}

.share_btn{
  float: right;
  cursor: pointer;
  padding-right: 5px;
  margin-right: 8px;
}

.reply_function{
 float: right;
 font-size: 18px !important;
}

.msg_datetime {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  float: right;
  padding-right: 10px;
  color: #444;
}
.like_div{
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  float: right;
  padding-right: 2px;
  letter-spacing: 2px;
  color: #6f6d6d;
  margin-right: 6px;
}

.delete_btn{
  float: right;
  cursor: pointer;
  padding-right: 10px;
  font-size: 16px !important
}

.see_replies{
  /*border: none;*/
  border: 1px solid rgba(147, 155, 147, 0.64);
  background-color: rgba(147, 155, 147, 0.64);
  border-radius: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  color:white;
}
.see_replies:hover{
  color: rgba(85, 85, 85, 0.73);
  background-color: white;
  border: 1px solid rgba(147, 155, 147, 0.64);
  border-radius: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
}

.mobile_backbtn {
  font-size: 22px;
  cursor: pointer;
  /*background-color: #d6d4c7;*/
  background-color: transparent;
  color: #393e46;
  padding: 1px 4px;
  border: none;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  /*height: 48px;*/
}

.mobile_backbtn:hover {
  /*background-color: gray;*/
}


@media screen and (max-width: 767px) {
  .contacts li > .info-combo > h3 {
    width: 70vw !important;
    overflow: hidden !important;
    white-space: pre-wrap !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
  }
}

div.reply_msg{
/*  margin-left: 5%;
  width: calc(100% - 5%);*/
}

.top_header_search_box{
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  /*margin-left: 20%;*/
  padding: 0px 8px;
  font-size: 20px;
  color: white !important;
  width: 30%;
}

.fa-search{
  color: white;
}

.fa-search:hover{
  /*color: red;*/
}

@media screen and (max-width: 767px) {
  #myInput {
    float: right !important;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    margin-top: 14px !important;
    margin-right: 42px !important;
    width: calc(100% - 88px) !important;
    font-size: 16px !important;
    border: 1px solid grey !important;
    color: gray !important;
    border-radius: 4px !important;
  }

  #search_icon{
    float: right !important;
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    padding: 18px 11px !important;
    /*color:red;*/
  }
}

  #myInput {
    float: right;
    position: fixed;
    top: 0;
    /*right: 0;*/
    margin-top: 14px;
    margin-right: 42px;
    width: calc(30% - 80px);
    font-size: 16px;
    border: 1px solid grey;
    color: gray;
    border-radius: 4px;
    margin-left:34px;
  }

#search_icon{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 18px 11px;
    /*color:yellow;*/
    /*margin-left: 20%;*/
}

.my-message .message-body {
  background: #eeede8eb !important;
}

.reply_msg .message-info {
  padding-left: 0px;
}

@media screen and (max-width: 767px) {

.message .message-text {
  font-size: 17.5px !important;
}

}

.im_attach {
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: var(--mainColor);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.pull-left {
  float: left !important;
  margin-right: 8px;
}

.im_attach_input {
  cursor: pointer;
  /*font-size: 120px !important;*/
  opacity: .01;
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
  top: 10px;
  right: 10px;
}
.editor_widget{
    position: fixed;
    bottom:0;
    width:70%;
    left:calc(30%);
    padding: 1% 1% 0% 1%;
    background-color: #ececec;
    border-top: 1px solid #cec7c7;
}

.fa-paperclip{
  color: grey;
}

.composer_rich_textarea:empty::before {
  content: attr(placeholder);
  color: #9aa2ab;
  display: block;
  margin-top: -1px;
  margin-left: 1px;
  pointer-events: none;
}

.composer_rich_textarea, .composer_textarea {
  overflow: none;
  overflow-y: scroll;
  border-radius: 0;
  border: 0;
  /* box-shadow: none; */
  outline: none;
  box-shadow: 0 1px 0 0 #e8e8e8;
  padding: 1px 28px 1px 0;
  position: relative;
  margin: 0;
  min-height: 52px;
  line-height: 20px;
  height: auto;
  box-sizing: border-box;
}

.composer_rich_textarea {
  font-size: 17.5px;
  margin-bottom: 10px;
  padding: 6px;
  min-height: 38px;
  height: auto;
  width: calc(100% - 150px);
  max-height: 284px;
  overflow: auto;
  line-height: 17px;
  border-bottom: 2px solid #396c98;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  word-wrap: break-word;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  float: left;
  resize: none;
  padding-left: 16px;
  padding-right: 16px;
}

/*.composer_rich_textarea:focus, .composer_textarea:focus {
  border: 0;
   box-shadow: none; 
  outline: none;
  box-shadow: 0 2px 0 0 #77b7e4;
}
*/
.im_send_field_wrap{
  position: relative;
}

.im_send_field_wrap {
  margin-bottom: 13px;
  padding-bottom: 2px;
  overflow-x: hidden;
}

.save_btn{
  /*float: right;*/
  cursor: pointer;
  opacity: .01;
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
  top: 0;
  right: -14px;
  height: 50px;
  width: 80px;
}

.pull-right{
  float: right !important;
}

@media screen and (max-width: 767px) {
.editor_widget{
    width: 100% !important;
    left: 0;
    padding: 1.2% 1.1%;
    background-color: #e3e3e3;
    border-top: 1px solid #b1c7fb;
}

.display_replies{
  width:100%;
  }

.selected_msg {
  width: calc(100% - 84px) !important;
}
}

.fa.fa-paperclip{
  padding:10px 13px;
  color:white;
}

.fa-paper-plane{
  padding:10px;
  color:white;
}

.rm_btn {
  float: right;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  background-color: white;
  color: black;
}
.selected_msg {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 160px);
  padding-top:13px;
}

/*.bottom_editor{
  position: fixed;
}*/
.centered_text{
  margin-left: 25%;
  text-align: center;
  color: grey;
  padding-top: 218px;
  padding-bottom: 218px;
  font-size :20px;
}

#plus_btn.btn-default {
  display: flex;
  align-items: center;
  justify-content: center;
  /*box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);*/
  transition: right 0.5s,left 0.5s, bottom 0.5s, border-radius 0.5s, text-indent 0.2s, visibility 1s, width 0.2s ease, height 0.5s ease 0.4s, color 0.5s, background-color 2s, transform 0.5s;
  padding: 0;
  margin: 0;
  width: 63px;
  height: 63px;
  border-radius: calc(50%);
  position: fixed;
  bottom: 30px;
  right: 60px;
  z-index: 399;
  background-color: var(--mainColor);
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  border:none;
  /*left : calc(43vw - 5%);*/
  opacity: 0.8;
}
.fa-plus{
  font-size: 20px !important;
}

#plus_btn.btn-default:hover{
  /*background-color: grey;*/
  /*width: 200px;*/
  border-radius: 0% !important;
}
/*#create-topic.btn-default:hover .btn_text{
  display: block;
}
#create-topic.btn-default:hover .fa-plus{
  display: none;
}*/

#create-topic {
  height: 60px;
  width: 50%;
  background-color: var(--mainColor);
  /*overflow: hidden;*/
  position: fixed;
  border: none;
  bottom: 170px;
  opacity: 0.8;
  color:white;
  font-weight: bold;
  /*left:25%;*/
  right:60px;
}

#create-message{
  height: 60px;
  width: 50%;
  background-color: var(--mainColor);
  /*overflow: hidden;*/
  position: fixed;
  border: none;
  bottom: 100px;
  opacity: 0.8;
  color:white;
  font-weight: bold;
  /*left: 25% ;*/
  right:60px;
}

@media screen and (min-width: 767px) {

#container{
  display: block;
}
#plus_btn.btn-default {
  display: flex;
  align-items: center;
  justify-content: center;
  /*box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);*/
  transition: right 0.5s,left 0.5s, bottom 0.5s, border-radius 0.5s, text-indent 0.2s, visibility 1s, width 0.2s ease, height 0.5s ease 0.4s, color 0.5s, background-color 2s, transform 0.5s;
  padding: 0;
  margin: 0;
  width: 63px;
  height: 63px;
  border-radius: calc(50%);
  position: fixed;
  bottom: 30px;
  right: calc(73%);
  z-index: 399;
  background-color: var(--mainColor);
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  border:none;
  /*left : 100px;*/
  opacity: 0.8;
}

#create-topic {
  height: 60px;
  width: 20%;
  background-color: var(--mainColor);
  /*overflow: hidden;*/
  position: fixed;
  border: none;
  bottom: 180px;
  opacity: 0.8;
  color:white;
  font-weight: bold;
  /*left:25%;*/
  right: calc(73%);
}

#create-message{
  height: 60px;
  width: 20%;
  background-color: var(--mainColor);
  /*overflow: hidden;*/
  position: fixed;
  border: none;
  bottom: 110px;
  opacity: 0.8;
  color:white;
  font-weight: bold;
  /*left: 25% ;*/
  right: calc(73%);
}

#create-group{
  height: 60px;
  width: 20%;
  background-color: var(--mainColor);
  /*overflow: hidden;*/
  position: fixed;
  border: none;
  bottom: 100px;
  opacity: 0.8;
  color:white;
  font-weight: bold;
  /*left:25% ;*/
  right: calc(77%);
}
#details-form {
    z-index:400;
    display: none;
    position: fixed;
    right: 0 !important;
    width: 70%;
    height: 100vh;
    background: var(--mainColor);
    top:0;
}

#select_category_id {
  position: fixed;
  top: 110px;
  width: calc(50%) !important;
  padding: 5px;
  margin: 0px 10px;
}

#topic_title {
  position: fixed;
  top: 50px;
  width: calc(50% ) !important;
  padding: 5px;
  margin: 10px 10px;
}

#select_usr_grp {
  position: absolute;
  top: 110px;
  width: calc(50%) !important;
  padding: 5px;
  margin: 0px 10px;
}

#back_btn_for_dm {
  font-size: 36px;
  cursor: pointer;
  /* background-color: #d6d4c7; */
  background-color: transparent;
  color: #393e46;
  padding: 0px 4px;
  border: none;
  color: white;
  position: fixed;
  top: 0;
  left: 30.5% !important;
}

}
@media screen and (max-width: 767px) {
#details-form {
    z-index:400 !important;
    display: none;
    position: fixed !important;
    right: 0 !important;
    width: 100% !important;
    height: 100vh !important;
    background: var(--mainColor);
}

#back_btn_for_dm {
  font-size: 36px;
  cursor: pointer;
  background-color: transparent;
  color: #393e46;
  padding: 0px 4px;
  border: none;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

#select_category_id {
  position: fixed;
  top: 110px;
  width: calc(100% - 20px );
  padding: 5px;
  margin: 0px 10px;
}

#topic_title {
  position: fixed;
  top: 50px;
  width: calc(100% - 20px );
  padding: 5px;
  margin: 0px 10px;
}

#select_usr_grp {
  position: fixed;
  top: 110px;
  width: calc(100% - 20px );
  padding: 5px;
  margin: 0px 10px;
}
}

.message-info a {
  cursor: pointer !important;
}

blockquote{
  font-size: 14px;
}

.fa.fa-pencil {
  /* float: right; */
  font-size: 16px;
  margin-right: 8px;
}

.edit_btn{
  float: right;
  margin-top:1px;
  cursor: pointer !important; 
}

.setting_btn{
  float: right;
  margin-top:1px;
  margin-right: 10px;
  cursor: pointer;
}

#searched_user {
  position: absolute;
  top: 144px;
  /* left: 0px; */
  background: #f4f3f3;
  margin-left: 10px;
  /*padding-left: 4px;*/
  padding: 0px !important;
  width:50%;
}

#select_usr_grp_div {
  position: fixed;
  width: 100%;
}

.user_grp_info {
  cursor: pointer;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.user_grp_info:hover {
  background: #cbcbdbcf;
  cursor: pointer;
}

.cmath {
  display: block;
  margin: 20px 0px 20px 30px;
  padding-left: 50px; padding-top: 8px; padding-bottom: 8px;
  white-space : pre;
}
@media screen and (max-width: 767px) {
#select_usr_grp_div #searched_user {
  position: absolute !important;
  top: 144px !important;
  /* left: 0px; */
  background: #f4f3f3 !important;
  margin-left: 10px !important;
  /*padding-left: 4px;*/
  padding: 0px !important;
  width: calc(100% - 20px) !important
}
}

#search_clear_btn {
  border: none;
  background: transparent;
  padding: 0px;
  position: fixed;
  right: 38px;
  top: 0;
  padding: 18px 11px !important;
  font-size: 16px;
  /*font-weight: bold;*/
  font-family: arial;
  color: #d0cfcf;
}

#search_clear_btn:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  #holder7 {
    display: none !important;
  }
}

.usr_profile{
  color: #666464;
}

span.bbcode-u{
  text-decoration: underline;
}

span.filename {
  display: none;
}
span.informations {
  display: none;
}

.download_div {
  float: right;
  padding-right: 10px;
  font-size: 16px;
}

.fa-download{
  color: #333232e3;
  cursor: pointer;
}

.message-text > h1{
  display: none;
}

.message-text > h3{
  font-size: 14px;
}

.contacts #holder9 li > .info-combo > h5 {
  width: 24vw;
  font-size: 13px;
  height: auto;
  font-weight: 500;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  /* display: flex; */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  position: relative;
  margin-top: -2px;
}

@media screen and (max-width: 767px) {
.contacts #holder9 li > .info-combo > h5 {
  width: 78vw !important;
  font-size: 13px;
  height: auto;
  font-weight: 500;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-top: -2px;
}
}

.contacts #holder10 li > .info-combo > h5 {
  width: 23vw;
  font-size: 12px;
  height: auto;
  font-weight: 500;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  /* display: flex; */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  position: relative;
  margin-top: 2px;
}

.contacts #holder10 li {
  padding-right: 20px;
  padding-left: 16px;
  height: 50px !important;
  margin-top: 5px;
}


@media screen and (max-width: 767px) {
.contacts #holder10 li > .info-combo > h5 {
  width: 78vw !important;
  font-size: 12px;
  height: auto;
  font-weight: 500;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-top: 2px;
}
}

iframe{
  width:100%;
}

.filesize{
  display: none;
}

.source {
  display: none;
}

.onebox-body h3{
  font-size: 16px !important;
}

a{
  cursor: pointer !important;
}